.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown label{
  width: 100px;
  display: inline-block;
}
.dropdown select{
  font-size: medium;
  width: 246px;
  padding: 5px;
  background-color: rgb(226, 225, 225);
  border: 0px;
  border-radius: 8px;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown input{
  border: 0px;
}

.textarea{
  width: 100px;
  background-color: white;
}