.itemsPage{
    height: calc(100vh-20px);
}
.inputForm{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: start;
    justify-content: flex-start;
}
.ag-theme-quartz {
    height: 450px;
}
.itemsPage .ag-theme-quartz button {
    margin: 0px;
    font-size: small;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.deleteButton {
    background-color: red;
}