.report table {
    border: 1px solid black;
}
.report th, .report td {
    border: none;
}
.report table {
    margin: 10px 0px;
    width: 100%;
}

.report th, .report td {
    font-size: 10px;
}

.report div {
    text-align: left;
}