.table-container {
  padding: 0px;
  /* height: 500px; */
  background-color: white;
  border-radius: 10px;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 0px 0px;
  font-size: 18px;
  text-align: left;
  /* height: 500px;  */
}

.data-table table th, table td {
  padding: 5px 5px;
  border: 1px solid #ddd;
}

.data-table table th {
  background-color: rgb(206, 206, 206);
  color: black;
  font-size: small;
}

.data-table table td{
  background-color: white;
  height: 30px;
  font-size: small;
}
.data-table table td input{
  height: 100%;
  font-size: small;
  /* padding: 5px; */
  padding-left: 10px;
}
.data-table table td button{
  font-size: small;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  margin-left: 25px;
  background-color: red;
}

.data-table table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
  
.data-table table tr:nth-of-type(odd) {
  background-color: #e8e8e8;
}

.data-table table tr:hover {
  background-color: #c9c9c9;
}

.data-table table tr:last-of-type {
  border-bottom: 2px solid #0b6f19;
}

.total-sum {
  margin-left: 1020px;
  text-align: left;
  font-size: 20px;
}  